.redBg {
  background-color: red;
  border-radius: 51px;
  color: white;
  padding: 5px;
}

.fancy-button {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ee0979, #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ee0979, #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	font-size: 20px;
	border-radius: 10px;
	border: solid;
	height: 50px;
	width: 110px;
	margin-top: 10px;
}
